
.btn {
    border: none;
    color: white;
    border-radius: 1rem;
    font-size: 1.6rem;
    padding: 1rem 3rem;
    display: inline-block;
    transition: all 0.2s;
    position: relative;
    width: 100px;
    font-weight: 700;
    letter-spacing: 0.2rem;

    &:link, &:visited {
        text-decoration: none;
    }


    &:active {
        transform: translateY(-0.1rem);
        box-shadow: 0 0.5rem 1rem rgba($color-black,.2);
        transition: all 0.2s;
    }

    &--red {
        background-color: white;
        background-image: linear-gradient(to right, $color-primary 0%, $color-secondary 51%, $color-tertiary 100%);

        &:hover {
            background-position: center;
        }
    }


    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 1rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all 0.4s;
    }

    &--animated {
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
    }

    &--height {
        width: 100px !important;
        text-align: center;
        padding: 1rem 1rem !important;
        margin-left: 1rem;

        @media screen and (min-width: 600px) {
            width: 170px;
            margin-bottom: 1rem;
        }

       
    }

    @media screen and (min-width: 720px) {
        padding: 2rem 3.5rem !important;
    }
}
.results {
    width: 150px !important;
    font-weight: 400;
    padding: 2rem 0rem 2rem 3rem !important;
    z-index: 12000;
    position: absolute;
    bottom: 3rem;
    left: calc(50% - 75px);
    background-color: #CB356B;
}
